{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
    <div  class="card-deck">
     <div class="card border-success mb-3">
    <div class="card-body">
     {% if top_list %}
      <h3 class="card-title">Topic List</h3>
         <hr/>
      {% for top in top_list %}
        <h5> <a href="{% url 'myapp:detail' top.id %}">{{ top.name }}</a></h5>
          <br/>
        {% endfor %}
{% else %}
    <strong>There are no available topics!</strong>
{% endif %}
    </div>
  </div>
    <div class="card border-success mb-3">
    <div class="card-body">
     {% if top_list %}
      <h3 class="card-title">Course list</h3>
         <hr/>
       {% for course in course_list %}
                {% if course.for_everyone is True %}
                </br>
                    <h5>{{ course.id }}. {{ course }} <b> - is for everyone</b></h5>
            {% else %}
                    </br><h5>{{ course.id }}. {{ course }} <b> - is not for everyone</b></h5>
            {% endif %}
        {% endfor %}
{% else %}
    <strong>There are no available courses!</strong>
{% endif %}
    </div>
  </div>
    <br/>
    </div>
       <p>Last Login:  {{ lst_login }}</p>





{#<p><a href="/myapp/about">About page</a></p>#}
{#<p><a href="{% url 'myapp:about' %}">About page </a></p>#}
{% endblock %}



